<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View file</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/materialize.min.js}"></script>
        <script th:src="@{/js/index.js}"></script>
    </head>
    <body>
        <ul class="collection">
            <li class="collection-item"><a style="cursor: pointer" onclick="window.history.back()"><- Back</a></li>
        </ul>
    </body>
</html>